<nlog internalLogFile="d:\log.txt" internalLogLevel="Trace">
    <extensions>
        <add assembly="NLog.Gelf" />
    </extensions>

    <targets>
        <target name="GelfHttp" type="GelfHttp" serverUrl="http://localhost:12201/gelf" facility="NLog.Gelf.TestHttp"/>
        <target name="GelfUdp" type="GelfUdp" serverUrl="localhost" port="12201" facility="NLog.Gelf.TestUdp"/>
    </targets>

    <rules>
        <logger name="*" minLevel="Trace" appendTo="GelfHttp,GelfUdp"/>
    </rules>
</nlog>